# markdown basics
## markdown basics
### markdown basics
* ** point1**
* ***point2***
* ****point3****

### Python basic
* python versio 3.7
- Functional programming
- Object oriented programming
- Scripting programming

In [1]:
print("Hello, Gitam")

Hello, Gitam

In [2]:
print("Hello, Gitam")
print("Hyderabad")

Hello, Gitam
Hyderabad

In [8]:
print("Hello,Gitam","|||",end=" ")
print("Python programming")

Hello,Gitam ||| Python programming

In [9]:
n1 = 100 # single variable Assignment
a = b = c = 20 # multi variable Assignment of the same value 
a1,b1,c1 = 111,222,333, # multi variable Assignment with different value
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [11]:
a = 100;
s1 = "Python"
print(a)
print(s1)
print(type(a))
print(type(s1))

100
Python
<class 'int'>
<class 'str'>

In [14]:
a = 100;
s1 = "python"
s2 = 'p'
print(a)
print(s1)
print(s2)
print(type(a))
print(type(s1))
print(type(s2))

100
python
p
<class 'int'>
<class 'str'>
<class 'str'>

In [15]:
a = 100;
s1 = "python"
s2 = 'p'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a))
print(type(s1))
print(type(s2))
print(type(f1))

100 python p 10.2
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [16]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a1))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [17]:
# A number is given 1234 -
# Digit count
a1 = 1234
print(len(str(a1)))

4

In [20]:
# Reading a value
# input("Message") --string

In [19]:
s1 = input("Enter your name")
print(s1)
print(type(s1))

Enter your nameAkshay
Akshay
<class 'str'>

In [26]:
# Want a number as a input
n1 = int (input("Enter a number"))
print(n1,type(n1))

Enter a number1234
1234 <class 'int'>

## Operations
* Operator is a symbols is used to perform a specific kind of operations
### Arithetic Operators
* +
* /
* -
* *
* %
* //

In [29]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1**10)

1244
1224
12340
123.4
4
8187505353567209228244052427776

In [32]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10) #returns coefficient in float
print(n1%10) #returns remainder in int
print(n1//10) #returns coefficient in int
print(n1**10) #returns power of number

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

In [33]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10) 
print(n1%10) 
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Precedence of the Arth operators
* Parenthesis
* power
* Multiplication
* Addition

In [34]:
x = 1 + 2 ** 3 / 4 + 5     
print(x)

8.0

In [37]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### Relational Operators
- ==
- !=
- Greater(>)
- Less than(<)
- Less than or equals to(<=)
- Great>=
* == != < > <= >=

In [39]:
x = 10
a1 = x > 15
print(a1)

False

# Logical Operators
used to combine more than single condition
* and
* or
* not

In [40]:
i = 100
a1 = (i > 15) and (i < 800)
a2 = (i > 15) and (i > 800)
print(a1)
print(a2)

True
False

### Control flow statements
- Conditional statements
- Looping statements

### if - else statements
Syntax

if Boolean_condition:
Staments
else:
Statements

In [47]:
# TO check given number is even or odd
n = int (input("Enter a number"))
if n%2 == 0:
    print("Even")
else:
    print("odd")

Enter a number22
Even

In [45]:
# TO check given number is even or odd
n = int (input("Enter a number"))
if n%2 == 0:
    print("Even")
else:
    print("odd")

Enter a number25
odd

In [51]:
# To check given number is perfectly multiple of 3 and 5
n = int (input("Enter a number"))
if n%3 == 0 and n%5 ==0:
    print("Yes")
else:
    print("No")

Enter a number10
No

In [56]:
# To check given number is perfectl multiple of 3 and 5
n = int (input("Enter a number"))
if n%3 == 0 and n%5 ==0:
    print("Yes")
else:
    print("No")

Enter a number15
Yes

In [1]:
# test given number is Positive, Negative or Zero
n = int (input("Enter a number"))
if n == 0:
    print("Zero")
elif n>0:
    print("Positive Number")
elif n<0:
    print("Negative number")

Enter a number12
Positive Number